* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    color: #404040;
    display: flex;
    height: 100vh;
    background-color: rgb(147, 126, 156);
    justify-content: center;
    align-items: center;
    background-image: url(topographic-textures.jpg);
    background-size: cover;
}

form {
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h1 {
    font-size: 24px;
}

.barra-horizontal {
    background-color: #2b2b2b;
    height: 5px;
    width: 190px;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lembrar {
    display: flex;
    gap: 5px;


}

.title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    padding: 15px;
    align-self: center;
    width: 140px;
    border-radius: 30px;
    background-image: linear-gradient(rgb(116, 116, 134), rgb(110, 100, 136));
    border: solid 1px rgb(173, 173, 189);
    border-right-width: 4px;
    border-bottom-width: 4px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    border: none
}

a {
    color: rgb(79, 79, 182)
}